Source: mycroft-gui
Section: kde
Priority: optional
Maintainer: KDE neon <neon@kde.org>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules,
               kio-dev,
               libqt5websockets5-dev,
               libkf5i18n-dev,
               libkf5notifications-dev,
               libkf5plasma-dev,
               pkg-config,
               pkg-kde-tools,
               qtbase5-dev,
               qtdeclarative5-dev
Standards-Version: 3.9.8

Package: mycroft-gui
Architecture: any
Depends: plasma-workspace,
         pyqt5-dev,
         python-dbus,
         python-pyqt5,
         python-sip,
         python-sip-dev,
         mycroft-core,
         qml-module-qtquick-particles2,
         qml-module-qtwebview,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Mycroft Ai Plasmoid and Skills for KDE Plasma 5 Desktop
 Tool to integrate Mycroft with your KDE Plasma 5 Desktop
 .
 It adds a set of plasmoids, plugins and services to the KDE Plasma Workspace.
 .
 These can be added to your desktop, or any panels on your workspace.
